#intro {
    display: flex;
    flex-direction: row;
    align-items: flex-start;    
    padding-top: 10%; 
    min-height: 100vh;    
    justify-content: center;
}
.Typist {
  margin-bottom: 32px;
}
.Typist .Cursor--blinking {
    color: var(--pink);    
    font-size: 64px;
}
.intro-content {    
    font-family: "FiraCode";
    color: var(--gray);
    font-size: 24px;
    padding-left: 3%;
    display: flex;
    flex-direction: column;    
}

.intro-title {    
    color: var(--gray);
    font-size: 48px;        
}
.intro-name {    
    color: var(--dark-pink);
    font-weight: bold;
    font-size: 64px;
}
.intro-link {
    color: var(--dark-pink);
    font-size: 24px;
    cursor: pointer;    
    margin-top: 32px;
}
.intro-link:hover {
    color: var(--pink);
}

  