#intro {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-left: 15%;
    padding-top: 10%;
    min-height: 100vh;
}

.Typist .Cursor--blinking {
    color: var(--dark-pink);    
    font-size: 64px;
}
.intro-title {
    font-family: "FiraCode";
    color: var(--gray);    
}
.intro-name {
    font-family: "FiraCode";    
    color: var(--dark-pink);
    font-weight: bold;
    font-size: 64px;
}
  