.sidebar-nav {
    align-items: flex-start;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    padding-right: 5%;
    position: fixed;
    right: 0;
    top: 10%;
  }
  
  .rs-sidenav-subtle {
    background-color: transparent !important;
  }
  
  .sidebar-links {
    display: flex;
    flex-direction: column;
    font-family: "FiraCode", sans-serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0em;
    line-height: 1.6em;
    padding: 0.2em;
    text-align: left;
  }
  
  a {
    color: var(--dark-pink) !important;
    text-decoration: none !important;
  }
  
  a:hover {
    color: var(--light-pink) !important;
  }

  
  img {
    height: 18px;
  }
  
  @media only screen and (max-width: 600px) {
    .sidebar-nav {
      display: none;
      height: 50px;
      width: 100%;
    }
  
    .sidebar-links {
      flex-direction: row;
      font-size: 9px;
      padding-left: 20px;
      text-align: right;
    }
  
    .sidebar-logos {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      padding-left: 50%;
      padding-top: 0px;
      width: 100px;
    }
  
    img {
      height: 12px;
    }
  }
  
  @media only screen and (max-width: 600px) {
    .sidebar-nav {
      align-items: center;
      position: unset;
    }
    .sidebar-logos {
      padding-left: unset;
      width: 70px;
    }
  }
  