#sphere .p5Canvas {
    height: 100% !important; 
    width: 250px !important;
}

@media only screen and (max-width: 600px) {
    #sphere .p5Canvas {
        height: 50% !important; 
        width: 125px !important;
    }
} 