@font-face {
  font-family: "FiraCode";
  font-weight: 200;
  font-display: fallback;
  src: url("../public/fonts/FiraCode-Regular.ttf") format("truetype");
}

html {
  scroll-behavior: smooth;
}

.App {
  background-color: var(--dark-gray);
  display: flex;
  flex-direction: row;  
  text-emphasis-color: var(--light-pink);
}

#content {  
  width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
}
*::selection {
    background: var(--light-pink) !important;
};
